<header>
  <div id="wrapper">
    <h1>Gabriel Pinango</h1>
    <nav>
      <ul>
        <li><a href="#">Welcome</a></li>
        <li><a href="#">Portafolio</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
<div id="container">
  <div id="content">
    <h2>Hello. My name is <span>Gabriel Pinango</span> and I really enjoy making new stuff!</h2>
    <a href="" class="btn">View my Work</a>
  </div>

</div>
<footer>
  <ul>
    <li><a href="https://github.com/GabrielPinango" class="github"></a></li>
    <li><a href="https://ve.linkedin.com/pub/gabriel-pi%C3%B1ango/a1/76b/9bb" class="linkedin"></a></li>
    <li><a href="#" class="twitter"></a></li>
  </ul>
  <p>© 2015 Gabriel Pinango</p>
</footer>